
<div class="container" id= "show_product">
  <div class="info_product">
      <h2>
        <strong>Name:</strong>
        <%= @restaurant.name %>
      </h2>

      <h2>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </h2>

      <h2>
        <strong>Phone number:</strong>
        <%= @restaurant.phone_number %>

  </div>

  <div class="reviews">
  <h2>Reviews</h2>

  <% @restaurant.reviews.each do |review| %>
    <p> Review : <%= review.content %>.
    <p> Rating : <%= review.rating %></p>
  <% end %>

  <%= link_to"Deja tu comentario", new_restaurant_review_path(@restaurant), {:style=>'color:#EEEEEE;', :class => "btn btn-primary"}%>
  <%= link_to  "Back", restaurants_path , {:style=>'color:#EEEEEE;', :class => "btn btn-secondary"}%>

  </div>

</div>

